// Created by Tony on 2/21/15.

head
  title Ketchy Ketch

body

template(name='userNav')
  span Current Date: #{ CurrentDate }
  section.user-nav
    img.small-avatar(src=profilePhotoUrl)
    button
      a(href='/users') Back to user list
    button
      a(href='/users/#{ _id }') Show Profile
    button
      a(href='/users/#{ _id }/candidates') Show Candidates
    button
      a(href='/users/#{ _id }/previous_candidates') Show Previous Candidates
    button
      a(href='/users/#{ _id }/connections') Show Connections

template(name='importFixture')
  section.import
    h1 Paste json text here
    p See example in fixtures directory
    textarea#json-text
    button.import-submit Submit