//
   Created by Tony on 2/22/15.

template(name='processUserList')
  +if(_isDeleted)
    li.deleted
      a(href='/users/#{ _id }')
        img.avatar(src=profilePhotoUrl)
        span #{ firstName }
  +else
    +if(isVetted)
      li.vetted
        a(href='/users/#{ _id }')
          img.avatar(src=profilePhotoUrl)
          span #{ firstName }
    +else
      li.unvetted
        a(href='/users/#{ _id }')
          img.avatar(src=profilePhotoUrl)
          span #{ firstName }

template(name='userList')
  .user-list
    div#header
      a.support(href='/support')
        img.avatar(src=crab.profilePhotoUrl)
      h1.search-box search
        input.text(id="search")

    div#user-list-needs-attention
      h1 need more candidates!
      ul
        +each usersRunningOutOfVettedCandidates
          +processUserList

    div#user-list-ok
      h1 ok users
      ul
        +each users
          +processUserList