//
   Created by Tony on 2/24/15.

template(name='renderConnectionUser')
  +with dereferenceUser this
    p #{ firstName }
    a(href="/users/#{ _id }")
      img.avatar(src=profilePhotoUrl)

template(name='connectionUserActions')
  +with dereferenceUser this
    ul
      li Last Sent Message Date: #{ lastSentDate }
      li Has Unread Message: #{ hasUnreadMessage }
        button.mark-as-read Mark As Read for #{ firstName }
    .actions
        textarea.message-text
        button.send-message Send Message as #{ firstName }

template(name='connectionMessages')
  ol
    +each messages
      li #{ sender.firstName } [#{ createdAt }]: #{ text }

template(name='connectionDetails')
  .connection-details(data-connection-id=_id)
    h1 Connection Details [#{ readableType }] [#{ expirationStatus }]

    h2 Shared Info
    section.actions
      button.set-expire-days Set expire days from now
      input#expire-days
    ul
      li Created At: #{ createdAt }
      li Type: {{ readableType }}
      li Last Message: #{ lastMessageText }
      li Expiration status: #{ expirationStatus }
      li Expires At: #{ expiresAt }
      li Message Count: #{ messages.count }

    h2 User Specific Info
    +each users
      .user-info
        +renderConnectionUser
        +connectionUserActions

    h2 Messages
    +connectionMessages


