//
   Created by Tony on 2/22/15.
template(name="photoActivation")
  +if(photo.active)
    button.deactivate(data-url=photo.url data-userid=user._id) Deactivate
  +else
    button.activate(data-url=photo.url data-userid=user._id) Activate

template(name='userDetails')
  .user-details(data-user-id=_id)
    h1 #{ firstName }’s Profile

    +userNav

    section.info
      h2 Status
        +if(isVetted)
          span.vetted Vetted
          p
            +blockUser
            +snoozeUser
        +else
          +if(isBlocked)
            span.blocked Blocked
            p
              +vetUser
              +snoozeUser
          +else
            +if(isSnoozed)
              span.snoozed Snoozed
              p
                +vetUser
                +blockUser

      ul
        li <strong>Last Name:</strong> #{ lastName }
        li <strong>Work:</strong> #{ work }
        li <strong>Education:</strong> #{ education }
        li <strong>Location:</strong> #{ location }
        li <strong>Age:</strong> #{ age }
        li <strong>Birthday:</strong> #{ birthday }
        li <strong>Timezone:</strong> #{ timezone }
        li <strong>Next candidate refresh:</strong> #{ nextRefreshTimestamp }
        li <strong>Created At:</strong> #{ createdAt }
        li <strong>Updated At:</strong> #{ updatedAt }
        li <strong>About:</strong>
          p #{ about }

    section.fb-info
      +with services.facebook
        h2 Facebook Info
        ul
          li Id:
            a(href="https://facebook.com/#{ id }", target='_blank') #{ id } [Go to Profile]
          li Access Token:
            input#fb-access-token(value=accessToken)
            a(href="https://developers.facebook.com/tools/debug/accesstoken?q=#{ accessToken }", target="_blank")
              button Debug Me
          li Email: #{ email }
          li Name: #{ name }
          li Gender: #{ gender }
          li TODO: Many other infos to come, location, work, etc.

      button.update-fb-access-token Update Access Token
      button.login-as-user Login as user
      button.clear-photos Clear Photos
      button.reload-fb-photos Reload Facebook Photos
      button.delete-user Delete User

    section.devices
      h2 Devices
      ul
        +each devices
          li Id: #{ _id }
          li Push Token: #{ _id }
          li APN Env: #{ apnEnvironment }
          li App ID: #{ appId }
          li
            button.remove-device Remove Device
      #push-token
        textarea
        button.add-push-token Add Push Token
      #push-message
        textarea
        button.send-push-message Send Push Message
    section.photos
      h2 Photos
      ul
        +each photos
          +if(this.active)
            li.activePhoto
              img(src=this.url)
              +photoActivation currentUserAndPhoto
          +else
            li.inactivePhoto
              img(src=this.url)
              +photoActivation currentUserAndPhoto
