//
   Created by Tony on 2/22/15.

template(name='_candidateList')
  ol
    +each this
      li
        a.avatar(href='/users/#{ user._id }')
          img(src=user.profilePhotoUrl)
        span #{ user.firstName }’s
        span Id: #{ _id }
        span Updated At #{ updatedAt }
        span Vetted #{ vetted }
        span Active #{ active }
        button.remove-candidate Remove
        button.create-inverse Add #{forUser.firstName} to #{user.firstName}'s queue

        br
        .my-choice
          span #{ forUser.firstName }’s Choice:
            b #{ choice }
          button.say-yes Say YES!
          button.say-maybe Say Maybe...
          button.say-no Say no :(
        .their-choice
          span #{ user.firstName }’s Choice:
            b #{ findInverse.choice }
          button.say-yes Say YES!
          button.say-maybe Say Maybe...
          button.say-no Say no :(

template(name='userCandidates')
  .user-candidates
    h1 #{ firstName }’s Candidates
    +userNav

    section.actions
      h2 Actions
      button.populate-queue Populate Candidate Queue
      button.clear-queue Clear Candidate Queue

      +if loggedInUser
        button.add-logged-in-user-to-queue Add #{loggedInUser.firstName} and #{firstName} to eachother's Queues

    section.candidate-queue
      +_candidateList candidateQueue

template(name='userPreviousCandidates')
  .user-candidates
    h1 #{ firstName }’s Previous Candidates
    +userNav

    button.clear-previous-candidates Clear Previous Candidates
    section.previous-candidates
      +_candidateList previousCandidates

