//
   Created by Tony on 2/22/15.

template(name='_connectionList')
  ol
    +each this
      li
        a(href='/users/#{ thisUser._id }/connections/#{ _id }')
          img.avatar(src=otherUser.profilePhotoUrl)
        span #{ otherUser.firstName }
        button.remove-connection Remove Connection


template(name='userConnections')
  .user-connections
    h1 #{ firstName } Connections
    +userNav
    section.actions
      h2 Actions
      button.clear-all-connections Clear All Connections
    section.connection-list.yes-connections
      h3 Marry
      +_connectionList yesConnections
    section.connection-list.maybe-connections
      h3 Keep
      +_connectionList maybeConnections


template(name='userConnectionDetails')
  .user-connection-details
    h1 #{ thisUser.firstName } Connection Details [{{ readableType connection }}]
    +userNav thisUser
    h2
      span #{ thisUser.firstName }
        img.avatar(src=thisUser.profilePhotoUrl)
      span
        button
          a(href='/users/#{ otherUser._id}/connections/#{ connection._id}') ->
      span #{ otherUser.firstName }
        img.avatar(src=otherUser.profilePhotoUrl)
    ul
      li Id: #{ connection._id }
      li Created At: #{ connection.createdAt }
      li Type: {{ readableType connection }}
      li Last Message: #{ connection.lastMessageText }
      li Expires At: #{ connection.expiresAt }
    h2 Messages
    ol
      +each connection.messages
        li #{ sender.firstName }: #{ text }
    textarea#new-message
    button.send-message Send Message
