//
   Created by Tony on 2/22/15.

template(name='_connectionList')
  ol
    +each this
      li
        a(href='/connections/#{ _id }')
          img.avatar(src=otherUser.view.profilePhotoUrl)
        span #{ otherUser.firstName }
        span Expires At: #{ expiresAt }
        button.set-expire-days Set expire days from now
        input.expire-days
        button.remove-connection Remove Connection


template(name='userConnections')
  .user-connections
    h1 #{ firstName } Connections
    +userNav
    section.actions
      h2 Actions
      button.clear-all-connections Clear All Connections
    section.connection-list.yes-connections
      h3 Marry
      +_connectionList activeYesConnections

    section.connection-list.maybe-connections
      h3 Keep
      +_connectionList activeMaybeConnections

    section.connection-list.yes-connections
      h3 Expired Marry
      +_connectionList expiredYesConnections

    section.connection-list.maybe-connections
      h3 Expired Keep
      +_connectionList expiredMaybeConnections
